@mixin flex($align, $jutify) {
  display: flex;
  align-items: $align;
  justify-content: $jutify;
}

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
